.container {
  overflow-x: hidden;
  width: 50%;
}

.row {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
