body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
  width: 100%;
}

.row {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollReverse {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
